

<!-- side bar pusher -->
<div class="pushcontext">

  <!-- hiden side bar name -->
  <div class="ui secondary big launch right attached button">
    <i class="icon list layout"></i>
    <span class="text" style="display:none;">Users</span>
  </div>

  <!-- this is where the whole canvas goes -->
  <div id="messages" class="ui container segment"></div>


  <div class="input-container ui container">
    <%= render partial: 'messages/message_form', locals: {message: @message, chatroom: @chatroom} %>
  </div>

  <div class="" style="height:15px"></div>

  <!-- side bar -->
  <div class="ui thin inverted sidebar vertical menu">

    <div class="ui header">
      <%= @chatroom.topic %>
    </div>

    <div class="ui middle aligned animated list">
      <% @chatroom.users.each do |u| %>
        <div class="item">
          <%= cl_image_tag(u.avatar, :width=>300, :height=>300, :crop=>"crop", :gravity=>"face", :secure=>true, class: "ui avatar image") %>
          <div class="content">
            <%= link_to u.name, user_path(u), class: "header" %>
          </div>
        </div>
      <% end %>
    </div>


    <div id="invite-friends" class="ui teal button">
      invite friends
    </div>
  </div>


</div>







<!-- invite friends modal -->
<!-- <div class="ui modal search-invite">
  <div class="header">Invite Friends</div>
  <i class="close icon"></i>
  <div class="content" id="search-content">
    <div class="ui search">
      <div class="ui action input">
        <input id="user-search-input" class="prompt" type="text" placeholder="Search by email...">
        <button id="user-search-button" class="ui icon button">
          <i class="search icon"></i>
        </button>
      </div>

    </div>

    <div id="user-search-results"class="">
        Results:
    </div>

  </div>

</div> -->
