<h1>Users Index</h1>
<table>
  <thead>
    <th>User ID</th>
    <th>User Name</th>
    <th>User Email</th>
    <th>Admin</th>
  </thead>
  <tbody>
    <% @users.each do |u| %>
    <tr>
      <td> <%= u.id %></td>
      <td> <%= u.name %></td>
      <td> <%= u.email %></td>
      <td>
        <% if u.is_admin %>
        admin
        <% end %>
      </td>
    </tr>
    <% end %>

  </tbody>

</table>
