<h1 class="ui centered header">Sign Up</h1>

<%= render partial: 'form' %>

<% if @user.errors.any? %>
  <ul>
  <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>
