



<div class="text-shadow-pop-right">
  <div class="ikoka">
    ikoka
  </div>

  <div class="intro">
    Not a Real Chatroom
  </div>

  <%= button_to 'Get Started', login_path, :method => :get, :id => "get-started", class:"ui massive purple button"%>


</div>





<div id="particles-js"></div>
