/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "semantic-ui";

body {
  margin: 0;
  background-color: #A9EEE6;
}

.ui.header {
  color: #625772 !important;
}

.overlay-card-info {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 10px;
  left: 10px;
  color: white;
  z-index: 1;
  text-shadow: 2px 2px #333;
}

#uploader {
  cursor:pointer;
  position:relative;
  overflow:hidden;
  width:450px;
  background:transparent;
  border:3px dashed #e8e8e8;
  color:#555;
  font-weight:bold;
  z-index: 1000000;
  text-align: center;
}

#uploader:hover {
  color:#999;
}

#filePhoto {
  display:none;
}

.placeholder {
  height: 200px;
  line-height: 200px;
}

.ui .homeNav {
  z-index: 100000!important;
}


// customised colors:
.ui.orange.label {
  background-color: #F38181 !important;
  color: #FFFFFF !important;
  text-decoration: none;
  margin-right: 0.7em;
}

.ui.orange.label a {
  opacity: 1;
}

.ui.orange.label:hover{
  background-color: #f56969 !important;

}

.ui.button.purple {
  background-color: #625772 !important;
}
.ui.button.purple:hover {
  background-color: #55446f !important;
}

.ui.button.orange{
  background-color: #F38181 !important;
  color: #FFFFFF !important;
}

.ui.button.orange a{
  text-decoration: none;
  color: #FFFFFF !important;
}
.ui.button.orange:hover{
  background-color: #f56969 !important;
}

.ui.center.aligned.text.container h1 {
  color: #55446f;
}
