/*// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/



.card-holder {
  position: relative;
  margin: auto;
  display: block;
  text-align: center;
  cursor: pointer;
}

.new-chatroom-action-card h3{
  margin: auto;
}
